<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NODE - MYSQL</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

</head>
<body>

    <nav class="navbar navbar-dark bg-dark">
        <a href="#" class="navbar-brand mx-auto">News</a>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-4 text-center">
                <table class="table table-striped">
                    <tr>
                        <th>ID</th>
                        <th>TITULO</th>
                        <th>NOTICIA</th>
                        <th>CREACIÓN</th>
                    </tr>
                    <% for(let i in data){ %>
                    <tr>
                        <td><%= data[i].id_news %></td>
                        <td><%= data[i].title %></td>
                        <td><%= data[i].content %></td>
                        <td><%= dateFormat(data[i].date_created, "dd/mm/yyyy h:MM:ss") %></td>
                    </tr>
                    <% } %>
                </table>
            </div>

            <div class="col-md-6 mt-4 card">
                <form action="/news" method="post">
                    <h3 class="card-title">Nueva noticia</h3>
                    <div class="form-group">
                        <input type="text" name="title" class="form-control" placeholder="Titulo noticia">
                    </div>
                    <div class="form-group">
                        <textarea name="content" class="form-control" placeholder="Contenido noticia"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        document.getElementsByName('title')[0].focus();
    </script>
    
</body>
</html>